<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Chaotic Jelly</string>
	<key>CFBundleExecutable</key>
	<string>Chaotic Jelly</string>
	<key>CFBundleHelpBookFolder</key>
	<string>ChaoticJelly.help</string>
	<key>CFBundleHelpBookName</key>
	<string>Chaotic Jelly Help</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.chaoticjelly.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Chaotic Jelly</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.31</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 Chaotic Jelly</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUPublicEDKey</key>
	<string></string>
</dict>
</plist>
